In [1]:
# Import Dependencies
import pandas as pd

In [11]:
# Import the CSV into a pandas DataFrame
county = "Apache"
file = county+"_HourlyTemps.csv"
try:
    data = pd.read_csv(file, low_memory=False)
    print(f"Read in data ({len(data)})")
except FileNotFoundError:
    print(f"Could not open '{file}'")

Could not open 'Apache_HourlyTemps.csv'

In [9]:
grouped_by_day = data.groupby(['Date'])
max_by_day = pd.DataFrame(grouped_by_day['Temp'].max())
max_by_day.head()

            Temp
Date
2005-01-01    64
2005-01-02    63
2005-01-03    59
2005-01-04    57
2005-01-05    61

In [10]:
max_by_day.to_csv(county+"_MaxTemps.csv")