In [32]:
# Import Dependencies
import pandas as pd

In [34]:
# Import the CSV into a pandas DataFrame
county = "Apache"
file = county+"_MaxTemps.csv"
try:
    data = pd.read_csv(file, low_memory=False)
    print(f"Read in data ({len(data)})")
except FileNotFoundError:
    print(f"Could not open '{file}'")

Read in data (4745)

In [35]:
data['Date'] = data['Date'].str.split('-',1,True)[1]
data.head()

    Date  Temp
0  01-01    59
1  01-02    69
2  01-03    60
3  01-04    58
4  01-05    52

In [111]:
grouped_by_day = data.groupby(['Date'])
tcnt = grouped_by_day['Temp'].count()
tavg = grouped_by_day['Temp'].mean()
tmin = grouped_by_day['Temp'].min()
tmax = grouped_by_day['Temp'].max()
daily_stats = pd.DataFrame({
    "Day":[val for val in grouped_by_day.groups.keys()],
    "Count":[val for val in tcnt],
    "Mean":[val for val in tavg],
    "Min":[val for val in tmin],
    "Max":[val for val in tmax]
    })
daily_stats = daily_stats[daily_stats.Day!='02-29']
daily_stats = daily_stats.astype({"Day":str,"Count":int,"Mean":int,"Min":int,"Max":int})
daily_stats.head(70)

      Day  Count  Mean  Min  Max
0   01-01     13    45   27   59
1   01-02     13    45   23   69
2   01-03     13    48   32   60
3   01-04     13    49   32   62
4   01-05     13    47   36   62
5   01-06     13    45   33   64
6   01-07     13    47   37   70
7   01-08     13    48   34   62
8   01-09     13    50   39   63
9   01-10     13    50   36   60
10  01-11     13    50   37   62
11  01-12     13    49   26   62
12  01-13     13    48   31   63
13  01-14     13    48   24   67
14  01-15     13    47   25   58
15  01-16     13    46   34   53
16  01-17     13    49   30   61
17  01-18     13    50   35   60
18  01-19     13    53   43   66
19  01-20     13    50   36   59
20  01-21     13    47   33   59
21  01-22     13    46   37   56
22  01-23     13    49   34   63
23  01-24     13    47   33   58
24  01-25     13    49   34   60
25  01-26     13    50   36   59
26  01-27     13    50   33   61
27  01-28     13    49   37   61
28  01-29     13    50   30   63
29  01-30     13    52   36   63
..    ...    ...   ...  ...  ...
40  02-10     13    55   36   74
41  02-11     13    53   34   68
42  02-12     13    54   36   71
43  02-13     13    55   42   69
44  02-14     13    54   42   69
45  02-15     13    56   41   74
46  02-16     13    57   43   70
47  02-17     13    57   47   75
48  02-18     13    58   46   67
49  02-19     13    57   48   70
50  02-20     13    52   38   70
51  02-21     13    55   40   71
52  02-22     13    55   38   68
53  02-23     13    55   39   73
54  02-24     13    52   30   71
55  02-25     13    56   40   70
56  02-26     13    57   44   68
57  02-27     13    58   40   73
58  02-28     13    55   43   72
60  03-01     13    58   45   73
61  03-02     13    59   40   76
62  03-03     13    59   44   73
63  03-04     13    61   47   75
64  03-05     13    61   49   72
65  03-06     13    62   45   71
66  03-07     13    59   51   71
67  03-08     13    57   47   71
68  03-09     13    58   40   75
69  03-10     13    60   42   78
70  03-11     13    60   45   73

[70 rows x 5 columns]

In [113]:
daily_stats.to_csv(county+"_Stats.csv", index=False)