In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

In [5]:
three_year_df = pd.read_csv("3YR_marriage.csv")

              GEO.id                                                 Id
0            GEO.id2                                                Id2
1  GEO.display-label                                          Geography
2      HC01_EST_VC01      Total; Estimate; Population 15 years and over
3      HC01_MOE_VC01  Total; Margin of Error; Population 15 years an...
4      HC02_EST_VC01  Now married (except separated); Estimate; Popu...

In [7]:
one_year_05_df = pd.read_csv("05_marriage.csv")
one_year_05_df.head()

              GEO.id                                                 Id
0            GEO.id2                                                Id2
1  GEO.display-label                                          Geography
2      HC01_EST_VC01      Total; Estimate; Population 15 years and over
3      HC01_MOE_VC01  Total; Margin of Error; Population 15 years an...
4      HC02_EST_VC01  Now married (except separated); Estimate; Popu...

In [8]:
one_year_06_df = pd.read_csv("06_marriage.csv")
one_year_06_df.head()

              GEO.id                                                 Id
0            GEO.id2                                                Id2
1  GEO.display-label                                          Geography
2      HC01_EST_VC01      Total; Estimate; Population 15 years and over
3      HC01_MOE_VC01  Total; Margin of Error; Population 15 years an...
4      HC02_EST_VC01  Now married (except separated); Estimate; Popu...

In [9]:
five_year_df = pd.read_csv("5YR_marriage.csv")
five_year_df.head()

              GEO.id                                                 Id
0            GEO.id2                                                Id2
1  GEO.display-label                                          Geography
2      HC01_EST_VC01      Total; Estimate; Population 15 years and over
3      HC01_MOE_VC01  Total; Margin of Error; Population 15 years an...
4      HC02_EST_VC01  Now married (except separated); Estimate; Popu...